body {
	background-color: #ffffff;
	font-size: 13px;
	color: #564b47;
	padding: 10px;
	margin: 0px;
	text-align: center;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

#header {
	color: #000000;
	margin: 0pt auto;
	padding-bottom: 30px;
}

#header .headera a {
	color: #F59422;
	font-size: 30px;
	font-variant: small-caps;
	margin: auto;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

.description {
	color: #000000;
	display: inline;
	font-size: 15px;
	font-variant: small-caps;
	margin: auto;
	text-align: left;
	text-transform: uppercase;
}

#contents {
	text-align: left;
	vertical-align: middle;
	margin: 0px auto;
	padding: 0px;
	background-color: #ffffff;
}

#footer {
	background: #F59422;
	color: #FFFFFF;
}

hr.dashed {
	border: 1px dashed #888686;
}
